<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block javascripts %}              
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
             <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
             <script>

             </script>
        {% endblock %}
        {% block stylesheets %}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">Mon Site</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="">Home</a></li>
      <li><a href="{{path('admin')}}">Administration</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">Contact</a></li>      
    </ul>  
  </div>
</nav>
{% if app.user %}
<div class="text-right" style="z-index : 999; postion: absolou; top: 50px;">
<b>Bonjour : </b>{{app.user.username}} | <a href=" {{path('fos_user_security_logout')}}">Deconexion</a>

{% else %}
  <a href=" {{path('fos_user_security_login')}}">Conexion</a>
{% endif %}

</div>
<br><br>


       <div class="container"> 
       {% for message in app.session.flashBag.get('info') %}
       <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle">Hop..............!</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-success"> {{ message }} </div>
      </div>
      
    </div>
  </div>
</div>
       <script>
    
             $('#exampleModalCenter1').modal('show'); 
    </script>
      
             
        {% endfor %}
       {% block body %}{% endblock %}
       {% if app.user %}
       
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle">Bonjour et Bienvenu sur notre site.</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>{{app.user.username}}</h3>
      </div>
      
    </div>
  </div>
</div>
       <script>
    
             $('#exampleMo').modal('show'); 
    </script>
{% endif %}



        <footer class=" bg-gradient-dark text-white"   style="margin-top : 600px; background: silver">
        <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        
    </div>
    <div class=" text-right" >
    
    </div>
    <!--/.Copyright-->

</footer>
      
 </body>   
</html>
