{% extends 'base.html.twig' %}

{% block body %}
    <h1>Livres list</h1>
    {# paginationnnnnnnnnnnnnnnnnnnnnnnnn #}

                

            


   {# paginationnnnnnnnnnnnnnnnnnnnnnnnn #}
    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(livres, 'Id', 'a.id') }}</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Prix</th>
                <th>{{ knp_pagination_sortable(livres, 'Date', 'a.date') }}</th>
                <th>Code</th>
                <th>Stock</th>
                <th>Descp</th>
                {% if ( app.user.hasRole('ROLE_ADMIN') )%}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td><a href="{{ path('livre_show', { 'id': livre.id }) }}">{{ livre.id }}</a></td>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.auteur }}</td>
                <td>{{ livre.prix }}</td>
                <td>{% if livre.date %}{{ livre.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ livre.code }}</td>
                <td>{% if livre.stock %}Yes{% else %}No{% endif %}</td>
                <td>{{ livre.descp }}</td>
                {% if ( app.user.hasRole('ROLE_ADMIN') )%}
                <td>                
                    <ul>
                        <li>
                            <a href="{{ path('livre_show', { 'id': livre.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('livre_edit', { 'id': livre.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
      <div class="navigation text-center">
                {{ knp_pagination_render(livres) }}
            </div>

    <ul>
        <li>
            <a href="{{ path('livre_new') }}">Create a new livre</a>
        </li>
    </ul>
{% endblock %}
