{% extends 'base.html.twig' %}

{% block body %}
    <h1>Livre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ livre.auteur }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ livre.prix }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if livre.date %}{{ livre.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ livre.code }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{% if livre.stock %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Descp</th>
                <td>{{ livre.descp }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('livre_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('livre_edit', { 'id': livre.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
